@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/bundle.css")" />
    <title>Contact list app</title>
</head>
<body>
    <div id="content"></div>    
    <script src="@Url.Content("~/bundle.js")"></script>
</body>
</html>